<nav class="">
    
  <div class="nav">
    <ul class="">
      <li class="nav-active">
        <a class="tab" href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="tab" href="{{ url_for('about') }}">About</a>
      </li>
      <li class="nav-item">
        <a class="tab" href="{{ url_for('contact') }}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="tab" href="{{ url_for('projects') }}">Projects</a>
      </li>
    </ul>
  </div>
</nav>