
body {
    padding-top: 5rem;
    background-attachment: fixed;
    background-image: url(cyberpunk1.jpg);
    color:white;
    
}
.container{ 
    display: flex;
    flex-direction: column;
}

.name{
    font-family: 'Sriracha', cursive;
    letter-spacing: 2px;
    font-size: 80px;
    color:black;
    text-shadow: 2px 2px 2px white;
    text-align: center;
   
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,.5);
    overflow: hidden;

}
li{
    float: left;
}

li a{
    display: block;
    color: #f1f1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
background-color:#555;
color: #cccccc;
}
.foot {
    display: flex;
    color: white;
}
input[type=text],select,textarea{
    width: 100%;
    padding: 12px;
    border-radius: 1px solid black;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;

}
label{
    padding: 12xp 12px 12px 0;
    display: inline-block;
    color: white;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  .col-25 {
    
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {

    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.form-btn{
    padding: 20px;
}
@media screen and (max-width:800px){
    container{
        float: none;
        width: 100%;
    }
    img{
        width: 100%;
        max-width: 800px;
        max-height: 290px;

    }
}

